.field {
    margin: 0 auto;
    width: 100vw;
    height: 95vh;
    position: relative;
    &__items {
        height: 100%;
        display: grid;
        &_two {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        &_four {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        &_six {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        &_eight {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }
    }
    
}