.headmenu {
    height: 5vh;
    position: relative;
    &__items {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        font-size: 25px;
        line-height: 25px;
        color: #27685F;
    }
    &__item_link {
        &:hover {
            color: #dc4b1bc7;
            transition: all 0.1s;
        }
    }
    a {
        text-decoration: none;
    }
}