.field__item {
    position: relative;
    perspective: 1400px;
    :hover {
        cursor: pointer;
    }

    &_front, &_back {
        height: 100%;
        border: 1px solid rgba(118, 219, 219, 0.557);
        border-radius: 15px;
        backface-visibility:hidden;
        transition: all 1s linear;
    }
    &_front {
        background-color: #845EC2;
        transform: rotateY(0turn);
    }
    &_back {
        position: absolute;
        top: 0;
        transform: rotateY(-0.5turn);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #009efad2;
        align-items: center;
    }
}
.field__icon {
    width: 100px;
    height: 100px;
}